[submodule "auctex"]
	path = auctex
	url = https://github.com/emacs-straight/auctex.git
[submodule "biblio.el"]
	path = biblio.el
	url = https://github.com/cpitclaudel/biblio.el.git
[submodule "company-auctex"]
	path = company-auctex
	url = https://github.com/alexeyr/company-auctex.git
[submodule "company-math"]
	path = company-math
	url = https://github.com/vspinu/company-math.git
[submodule "company-mode"]
	path = company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "company-quickhelp"]
	path = company-quickhelp
	url = https://github.com/company-mode/company-quickhelp.git
[submodule "company-reftex"]
	path = company-reftex
	url = https://github.com/TheBB/company-reftex.git
[submodule "dash.el"]
	path = dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "eglot"]
	path = eglot
	url = https://github.com/joaotavora/eglot.git
[submodule "eldoc"]
	path = eldoc
	url = https://github.com/emacsmirror/eldoc.git
[submodule "emacs-async"]
	path = emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "emacs-dashboard"]
	path = emacs-dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "emacs-doom-themes"]
	path = emacs-doom-themes
	url = https://github.com/hlissner/emacs-doom-themes.git
[submodule "emacs-jupyter"]
	path = emacs-jupyter
	url = https://github.com/dzop/emacs-jupyter.git
[submodule "emacs-web-server"]
	path = emacs-web-server
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "emacs-websocket"]
	path = emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "emacs-which-key"]
	path = emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "emacs-zmq"]
	path = emacs-zmq
	url = https://github.com/dzop/emacs-zmq.git
[submodule "evil-args"]
	path = evil-args
	url = https://github.com/wcsmith/evil-args.git
[submodule "evil-escape"]
	path = evil-escape
	url = https://github.com/syl20bnr/evil-escape.git
[submodule "evil-expat"]
	path = evil-expat
	url = https://github.com/edkolev/evil-expat.git
[submodule "evil-surround"]
	path = evil-surround
	url = https://github.com/emacs-evil/evil-surround.git
[submodule "evil"]
	path = evil
	url = https://github.com/emacs-evil/evil.git
[submodule "expand-region.el"]
	path = expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "flymake"]
	path = flymake
	url = https://github.com/emacsmirror/flymake.git
[submodule "general.el"]
	path = general.el
	url = https://github.com/noctuid/general.el.git
[submodule "goto-chg"]
	path = goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "hy-mode"]
	path = hy-mode
	url = https://github.com/hylang/hy-mode.git
[submodule "ivy-posframe"]
	path = ivy-posframe
	url = https://github.com/tumashu/ivy-posframe.git
[submodule "jsonrpc"]
	path = jsonrpc
	url = https://github.com/emacs-straight/jsonrpc.git
[submodule "latex-extra"]
	path = latex-extra
	url = https://github.com/Malabarba/latex-extra.git
[submodule "let-alist"]
	path = let-alist
	url = https://github.com/emacsmirror/let-alist.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "math-symbol-lists"]
	path = math-symbol-lists
	url = https://github.com/vspinu/math-symbol-lists.git
[submodule "org"]
	path = org
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "page-break-lines"]
	path = page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "pos-tip"]
	path = pos-tip
	url = https://github.com/pitkali/pos-tip.git
[submodule "posframe"]
	path = posframe
	url = https://github.com/tumashu/posframe.git
[submodule "project"]
	path = project
	url = https://github.com/emacsmirror/project.git
[submodule "rainbow-delimiters"]
	path = rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "s.el"]
	path = s.el
	url = https://github.com/magnars/s.el.git
[submodule "sly"]
	path = sly
	url = https://github.com/joaotavora/sly.git
[submodule "smartparens"]
	path = smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "straight.el"]
	path = straight.el
	url = https://github.com/raxod502/straight.el.git
[submodule "swiper"]
	path = swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "transient"]
	path = transient
	url = https://github.com/magit/transient.git
[submodule "undo-tree"]
	path = undo-tree
	url = https://github.com/emacs-straight/undo-tree.git
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "with-editor"]
	path = with-editor
	url = https://github.com/magit/with-editor.git
[submodule "xref"]
	path = xref
	url = https://github.com/emacsmirror/xref.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "emacsmirror-mirror"]
	path = emacsmirror-mirror
	url = https://github.com/emacs-straight/emacsmirror-mirror.git
[submodule "gnu-elpa-mirror"]
	path = gnu-elpa-mirror
	url = https://github.com/emacs-straight/gnu-elpa-mirror.git
[submodule "melpa"]
	path = melpa
	url = https://github.com/melpa/melpa.git
[submodule "emacs-libvterm"]
	path = emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "projectile"]
	path = projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "pkg-info"]
	path = pkg-info
	url = https://github.com/emacsorphanage/pkg-info.git
[submodule "epl"]
	path = epl
	url = https://github.com/cask/epl.git
[submodule "evil-goggles"]
	path = evil-goggles
	url = https://github.com/edkolev/evil-goggles.git
[submodule "company-fish"]
	path = company-fish
	url = https://github.com/CeleritasCelery/company-fish.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "google-translate"]
	path = google-translate
	url = https://github.com/atykhonov/google-translate.git
[submodule "key-chord"]
	path = key-chord
	url = https://github.com/emacsorphanage/key-chord.git
[submodule "julia-emacs"]
	path = julia-emacs
	url = https://github.com/JuliaEditorSupport/julia-emacs.git
[submodule "cmake"]
	path = cmake
	url = https://gitlab.kitware.com/cmake/cmake.git
[submodule "dante"]
	path = dante
	url = https://github.com/jyp/dante.git
[submodule "f.el"]
	path = f.el
	url = https://github.com/rejeep/f.el.git
[submodule "flycheck"]
	path = flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "lcr"]
	path = lcr
	url = https://github.com/jyp/lcr.git
[submodule "emacs-racer"]
	path = emacs-racer
	url = https://github.com/racer-rust/emacs-racer.git
[submodule "rust-mode"]
	path = rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "ht.el"]
	path = ht.el
	url = https://github.com/Wilfred/ht.el.git
